// Color Scheme
$primary-color: rgb(239, 250, 255);
$secondary-color: rgb(148, 216, 255);
// Text
$text-color: rgb(110, 144, 160);
$highlighted: rgb(63, 137, 169);
// Div
$light-card-color: rgb(212, 233, 242);
$regular-card-color: rgb(198, 237, 255);
$dark-card-color: rgb(17, 49, 63);
// General
$white: #FFF;